<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historia Clínica</title>
    <style>
      * {
        font-family: "Arial", serif;
        box-sizing: border-box;
        line-height: 1.2;
        -webkit-print-color-adjust: exact;
      }

      body,
      html {
        margin: 0;
        padding: 0;
        position: relative;
        padding: 0 30px;
        font-size: 14px;
      }

      h1,
      h2,
      span,
      p {
        margin: 0;
        padding: 0;
        line-height: 1.3;
      }

      tr,
      td,
      th,
      p {
        page-break-inside: avoid;
      }

      .mb-10 {
        margin-bottom: 10px;
      }

      th,
      td {
        padding: 8px;
        width: 50%;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <% if(data.reason_for_consultation) { %>
    <div class="mb-10">
      <b>Motivo de Consulta</b>
      <p><%= data.reason_for_consultation %></p>
    </div>
    <% } %> 
    <% if(data.current_illness) { %>
    <div class="mb-10">
      <b>Enfermedad Actual</b>
      <p><%= data.current_illness %></p>
    </div>
    <% } %> 
    <% if(data.plan) { %>
    <div class="mb-10">
      <b>Plan</b>
      <p><%= data.plan %></p>
    </div>
    <% } %> 
    <% if(data.evolution) { %>
    <div class="mb-10">
      <b>Evolución</b>
      <p><%= data.evolution %></p>
    </div>
    <% } %> 
    <% if(data.treatment_text) { %>
    <div class="mb-10">
      <b>Tratamiento</b>
      <p><%= data.treatment_text %></p>
    </div>
    <% } %> 
    <%- data.html %>
  </body>
</html>
